allow system_server pocket_judge_sysfs:dir search;
allow system_server pocket_judge_sysfs:file rw_file_perms;

allow system_server pocket_service:service_manager { add find };

allow system_server adbroot_service:service_manager find;

# CachedAppOptimizer
allow system_server zygote_tmpfs:file rw_file_perms;

add_service(system_server, applock_service);

# Powershare
hal_client_domain(system_server, hal_aospa_powershare)
